body{
    margin:0;
    padding:0;
    background:white;
    font-family:Arial, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

#uploadBox{
    width:420px;
    height:320px;

    border:3px dashed #007aff;
    border-radius:30px;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:0.2s;
}

#uploadBox:hover{
    background:#f5f9ff;
}

#uploadIcon{
    width:100px;
    margin-bottom:20px;
}

#uploadBox h2{
    color:#007aff;
    font-size:24px;
    text-align:center;

    width:80%;
}